{% extends 'base.html.twig' %}

{% block title %}Hello AuthorController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des auteurs</h1>

    <div>
        <a href="{{ path('author_new') }}">Nouvel auteur</a>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Nom complet</td>
                <td>Genre</td>
                <td>Date de naissance</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for author in authorList %}
                <tr>
                    <td>{{ author.fullName }}</td>
                    <td>{{ author.gender }}</td>
                    <td>{{  author.birthDate | date('d/m/Y') }}</td>
                    <td>
                        <a href="{{ path('author_edit', {'id': author.id}) }}">
                            modifier
                        </a>
                        &nbsp;|&nbsp;
                        <a href="{{ path('author_delete', {'id': author.id}) }}" class="delete">Supprimer</a>
                    </td>

                </tr>
            {%  endfor %}
        </tbody>
    </table>

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script defer>

        $(document).ready(function () {
            $(".delete").click(function () {
                return confirm("êtes vous certain de vouloir supprimer cet auteur");
            });
        });
    </script>
{% endblock %}
